.createCard{
    flex: 1;
    height: 100vh;
}

.createTitle{
    display: flex;
    align-items: center;   
    background-color: gainsboro;
}


.createProfileImg{
    display: flex;
    position: absolute;
    width: 95%;
    height: 200px;
    margin-top: -120px;

}

.profileImg{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 20px;
    border: 5px solid grey;
}

.createContainer{
    display: flex;
    margin-top: 30px;
    list-style: none;
    text-align: left;
    flex-direction: column;
}

.group-name{
    margin: 20px 0;
}

.group-name label{
    margin: 10px 0;
}

.createBtn{
    font-size: large;
    height: 30px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 3px;
}