.createCard{
    flex: 3;
    height: 100vh;
}

.createTitle{
    display: flex;
    align-items: center;   
    background-color: gainsboro;
}


.createProfileImg{
    display: flex;
    position: absolute;
    width: 100%;
    height: 200px;
    margin-top: -120px;

}

.profileImg{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 20px;
    border: 5px solid grey;
}


